* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-items {
    display: flex;
    flex-direction: column;
}

.item {
    float: left;
    width: 700px;
    height: 400px;
    position: relative;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item .text {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
    color: white;
    text-shadow: 0px 0px 5px black;
}

.thumbs {
    align-self: flex-start;
    width: 230px;
    height: 400px;
    background: #000;
    position: relative;
}

.thumb {
    height: calc(100% / 5);
    opacity: 0.5;
    cursor: pointer;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumb.active {
    border: 3px solid #ccc;
    opacity: 1;
}

.prev, .next {
    width: 30px;
    height: 30px;
    margin: 5px 0;
    border-radius: 50%;
    background: #cccccc9e;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.next {
    bottom: 0;
}

.prev:hover, .next:hover {
    background-color: #ccc;
}

.circles-container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.circle{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(174, 174, 174, 0.509);
    margin: 10px;
    cursor: pointer;
}

.circle.active, .circle:hover {
    background-color: rgba(174, 174, 174, 1); 
}

button {
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: blue;
    border-radius: 10px;
    border: solid 3px yellowgreen;
    cursor: pointer;
    margin: 0 5px;
}

button:hover {
    background-color: aqua;
    color: blue;
    border: solid 3px blueviolet;
}